main {
  padding: 2rem 8rem;
}

header nav .link_about {
  font-family: LatoBold;
}

header nav .link_about::after {
  width: 100%;
  transition: 0s;
}

p {
  font-family: Lato;
  color: var(--color-4);
  font-size: 3rem;
}
